.new-game-modal-header {
  display: flex;
  justify-content: flex-end;
}

.new-game-modal {
  width: 500px;
  height: 300px;
  background: grey;
  left: 35%;
  top: 10%;
  position: absolute;
}

.new-game-modal-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-game-modal-team-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.new-game-modal-select-team-container {
  display: flex;
  flex-direction: column;
}
.new-game-modal-start-game-container {
  margin-top: 30%;
  margin-left: 40%;
}
